.limit-grid {
  width: 100%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

@include max-screen(mq('tablet') - 1) {
  .hide-mobile {
    display: none !important;
  }
}

@include min-screen(mq('tablet')) {
  .show-mobile {
    display: none !important;
  }
}

@include min-screen(mq('desktop')) {
  .limit-grid {
    padding: 0;
  }
}

@include min-screen(mq('desktop-small')) {
  .limit-grid {
    max-width: 1120px;
  }
}
