@function mq($mq-value) {
  @return map-get($mq, $mq-value);
}

@function color($color-name) {
  @return map-get($colors, inspect($color-name));
}

@mixin hide() {
  opacity: 0;
  visibility: hidden;
}

@mixin show() {
  opacity: 1;
  visibility: visible;
}
