// images
$base_img: '../images';
$base_fonts: '../fonts';

// fonts
$Arial: 'Arial';

// colors
$colors: (
  'white': #fff,
  'black': #000
);

// media queries
$mq: (
  'mobile-small': 320px,
  'mobile-medium': 375px,
  'mobile-large': 414px,
  'mobile': 639px,
  'tablet': 768px,
  'desktop': 1024px,
  'desktop-small': 1280px,
  'desktop-medium': 1440px,
  'desktop-big': 1680px,
  'desktop-large': 1920px
);
